@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<UserTask>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Active Tasks</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Rapor Oluştur
    </a>
</div>


<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Tasks Overview</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Options:</div>
                <a class="dropdown-item" href="#">Görev Ekle</a>
                <!-- Buraya yeni özellikler eklenebilir -->

                <!--  <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Sil</a>-->
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <p>
            Burada tüm aktif görevleri görebilirsiniz. Görevleri ekleyebilir, düzenleyebilir veya silebilirsiniz; bunu başlıktaki açılır menüyü kullanarak yapabilirsiniz.
        </p>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Görev Adı</th>
                    <th>Durum</th>
                    <th>Atanan Kişi</th>
                    <th>İşlemler</th>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Status</td> <!-- Daha sonra Türkçeleştir -->
                        <td>@item.AssignedUserId</td>  <!-- Daha sonra isim ile değiştirilecek -->
                        <td>
                            <a href="#" class="btn btn-sm btn-primary">İncele</a>
                            <a href="#" class="btn btn-sm btn-warning">Düzenle</a>
                            <a href="#" class="btn btn-sm btn-danger">Sil</a>
                        </td>
                    </tr>
                    
                </tbody>
            }

            
        </table>
    </div>
</div>
